<?xml version="1.0" encoding="UTF-8"?>
<clock>
    <longitude>-84.39</longitude>
    <!--Must have 10 timezones-->
    <timezones>
        <tz code='US/Eastern'>EASTERN</tz>
        <tz code='US/Pacific'>PACIFIC</tz>
        <tz code='GMT'>GMT</tz>
        <tz code='Australia/Sydney'>AUSTRALIA</tz>
        <tz code='Europe/Berlin'>GERMANY</tz>
        <tz code='Asia/Hong_Kong'>HONG KONG</tz>
        <tz code='Asia/Kolkata'>INDIA</tz>
        <tz code='Asia/Tokyo'>JAPAN</tz>
        <tz code='Singapore'>SINGAPORE</tz>
        <tz code='Europe/London'>UK</tz>
    </timezones>
</clock>
