<?xml version="1.0" encoding="UTF-8"?>
<clock>
	<location>Atlanta</location>
    
    <!--Must have 12 timezones-->
	<timezones>
		<tz code='US/Eastern'>Eastern</tz>
		<tz code='US/Central'>Central</tz>
        <tz code='US/Mountain'>Mountain</tz>
        <tz code='US/Pacific'>Pacific</tz>
        <tz code='GMT'>GMT</tz>
        <tz code='Australia/Sydney'>Australia</tz>
        <tz code='Europe/Berlin'>Germany</tz>
        <tz code='Asia/Hong_Kong'>Hong Kong</tz>
        <tz code='Asia/Kolkata'>India</tz>
        <tz code='Asia/Tokyo'>Japan</tz>
        <tz code='Singapore'>Singapore</tz>
        <tz code='Europe/London'>UK</tz>
	</timezones>
</clock>